import {ChangeDetectionStrategy, Component, ChangeDetectorRef} from '@angular/core';
import './{{ componentName }}.less';
import {StateComponent} from '{{ stateComponentPath }}';

@Component({
    selector: '{{ componentName }}',
    templateUrl: './{{ componentName }}.html',
    changeDetection: ChangeDetectionStrategy.OnPush
})

export class {{ componentNameCamel }}Component extends StateComponent<I{{ componentNameCamel }}ComponentState> {

    state$$: I{{ componentNameCamel }}ComponentState = {
    };

    constructor(protected readonly cd: ChangeDetectorRef) {
        super(cd);
    }
}

interface I{{ componentNameCamel }}ComponentState{

}
